.columns
  .column
    h3.title Project List
    ul.menu-list
      li(ng-repeat="project in vm.projects", id="{{ project.id }}")
        a(href='/#/projects/{{ project.id }}') {{ project.name }}
        ul
          li(ng-repeat="student in project.students")
            a(href='/#/students/{{ student.id }}') {{ student.name }}
  .column
    h3.title Generate Data
    p If everything looks good, go ahead and generate the data.
    hr
    a.button.is-info.is-large(ng-click="vm.buildDownload()") Generate Project Data
    a#downloadProjects(style='display:none')