.columns
  .column
    h3.title Demo Day Projects
    ul.menu-list
      li(ng-repeat="project in vm.projects", id="{{ project.id }}")
        a(href='/#/projects/{{ project.id }}') {{ project.name }}
        ul
          li(ng-repeat="student in project.students")
            a(href='https://github.com/{{ student }}', target='_blank') {{ student }}
  .column
    h3.title Build Website
    p If everythign looks good, go ahead and generate the website.
    hr
    a.button.is-info.is-medium(ng-click="vm.downloadStudents()") Generate Student Data
    a.button.is-info.is-medium.fl-right(ng-click="vm.downloadProjects()") Generate Project Data
    a#downloadStudents(style='display:none')
    a#downloadProjects(style='display:none')