div.content
  h3.title Welcome
  p This is a simple tool to help you generate a list of students and a list of projects to build out a demo day website.
  p There are three sections to this website, Students, Projects and Generate.
  p 
    | The first you should focus on is the 
    a(href='/#/students') Students 
    | section. Here you will add a list of all the students that will be a part of demo day. You will need to specify their Full Name, Github Username and which class they took. 
  blockquote
    | It is extremely important that their Github Username be both correct and in lowercase.
  p 
    | After you create a list of the students, you can start to create the 
    a(href='/#/projects') Projects 
    | . For these we will just need the project name and then you can multi-select the students who are a part of that project.
  p
    | Once you are done with that, head over to the 
    a(href='/#/generate') Generate 
    | page and make sure the project list looks correct. If it does, then download both the list of students and projects and email or slack them to your site administrator. 
  h3.title Images
  p 
    | The only other thing we will need is the images of the students. They should be 
    b 600 x 600
    | pixels and should all be JPG files and be named by the student's Github username. Again, all lowercase!!
  blockquote
    | Example: 
    b
      i kingcons.jpg 
    | (assuming the users github is -> https://github.com/kingcons)