.columns
  .column
    h3.title
      | Create A Student
    form(ng-submit="vm.addStudent()")
      p.control
        input.input(type='text', placeholder='Display Name', ng-model="vm.student.name")
      p.control
        span.select
          select(name='class', ng-model='vm.student.class')
            option(value='') Choose Class
            option(value='JavaScript') JavaScript
            option(value='Java') Java
            option(value='iOS') iOS
      p.control
        input.input(type='text', placeholder='Github Username (ex: kingcons)', ng-model="vm.student.github")
      p.control
        button.button.is-primary
          | Add Student
  .column
    h3.title Students
      small.middle  (Click to Edit)
    div.students
      ul.menu-list
        li(ng-repeat="student in vm.students")
          a(href="/#/students/{{ student.id }}")
            | {{ student.name }}
    hr
    button(ng-click="vm.clearStudents()", class="button is-danger fl-right") Clear All Students